{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": ["./src/"]
        },
        "extensions": [".ts"]
      }
    ]
  ],
  "ignore": ["node_modules/**"]
}
